.wrapper {
    height: 130px;
    overflow: hidden;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.wrapper::before,
.wrapper::after {
    content: "";
    position: absolute;
    height: 130px;
    width: 150px;
    z-index: 2;
}

.wrapper::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.wrapper::before {
    left: 0;
    top: 0;
}

 .track {
    display: flex;
    width: calc(150px * 10);
    animation: scroll 40s 
     infinite;
}

 .logo {
    width:100%;
    background-color:rgba(250, 235, 215, 0.438);
    justify-content: center;
    align-items: center;
    

}

.logo img {
    height: 26rem;
    margin: 10px;
    border-radius: 1rem;
    
    
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-150px * 5));
    }
}
.centrado {
    position: absolute;
    top: calc(95% - 15px);
}
